## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, qbox"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US" 
load_server_icon myLogo.png
set sv_enforceGameBuild 2699
set mysql_connection_string "{{dbConnectionString}}"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableUi 0
setr voice_defaultCycle "GRAVE"
setr voice_defaultRadioVolume 60
setr voice_defaultCallVolume 80
setr voice_enableRadioAnim 1

# Qbox locale config
setr qb_locale "en"

# illenium-appearance locale config
setr illenium-appearance:locale "en"

# Ox resource settings
exec ox.cfg

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# Qbox & Extra stuff
ensure ox_lib
ensure qbx-core
ensure ox_target
ensure [ox]
ensure [qbx]
ensure [standalone]
ensure [voice]

## Permissions ##
{{addPrincipalsMaster}}
exec permissions.cfg
